footer.container-fluid.sticky-bottom
    .row.py-1
        .col-md-2.col-0
        .col-md-8.col-10
            p 
                | Relizado por Marcos Ruiz Clemente     
                i.bi.bi-c-circle
        .col-md-2.col-2.text-end.text-md-start
            a(href='https://www.linkedin.com/in/marcosruizclemente' target='_blank')
                    img(src='https://raw.githubusercontent.com/maurodesouza/profile-readme-generator/master/src/assets/icons/social/linkedin/default.svg' width='52' height='40' alt='linkedin logo')


