if identificado
    if(titulo != "Pagina de usuario")
        form(action="/iSesion" method="post") 
            button.btn.btn-warning(type="submit") Volver principal

    if(titulo == "Crear factura")
        a.btn.btn-warning(href="/accesoGrupo/" + idG) Volver

    
    button.btn.btn-info 
        | b1

    button.btn.btn-info 
        | b2

    button.btn.btn-info 
        | b3
else 
    button.btn.btn-info 
        | b4

    button.btn.btn-info 
        | b5

    button.btn.btn-info 
        | b6 