if identificado
    button.btn.btn-info 
        | b1

    button.btn.btn-info 
        | b2

    button.btn.btn-info 
        | b3
else 
    button.btn.btn-info 
        | b4

    button.btn.btn-info 
        | b5

    button.btn.btn-info 
        | b6 