extends layouts/head
block contenido
    main.container.d-flex.justify-content-center.p-2(style="min-height: 81.7vh")
            .row.d-flex.align-items-center.justify-content-center(style="min-height:100%; width: 100%")
                .col-12.d-flex.flex-column.ancho.alto
                    .row.d-flex.ancho
                        .col-12.d-flex.flex-column.ancho
                            form.row(action="/anadirUser" method="post")
                                h3.text-center Añadir un usuario
                                .col-3
                                    label.visually-hidden(for='usuario') Usuario
                                        i.bi.bi-search
                                    input#usuario.form-control(type='text' name="usuario" placeholder="Usuario" required)
                                .col-3
                                    label.visually-hidden(for='telefono') Telefono
                                        i.bi.bi-search
                                    input#telefono.form-control(type='number' name="telefono" placeholder="Telefono" min=111111111 max=999999999 oninput="if(this.value.length > 9) this.value = this.value.slice(0,9);")
                                .col-3
                                    label.visually-hidden(for='email') E-mail
                                        i.bi.bi-search
                                    input#email.form-control(type='email' name="email" placeholder="E-mail")
                                .col-3.d-flex.aling-items-center.justify-content-evenly
                                    .col-6
                                        label.visually.me-2(for='admin') Administrador?
                                        input#admin.form-check-input(type='checkbox' name="admin" data-bs-container="body" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-placement="bottom" data-bs-content="Administrador?")
                                    .col-6
                                        button.btn.btn-success(type="submit") Añadir

                    .row.d-flex.align-items-center.justify-content-center.mt-4
                        .col-6.bg-danger.p-3
                            .text-center.text-light #{mensaje}         

                    .row.mt-4
                        .col-12
                            if datos.length > 0
                                h2.text-center Participantes actuales
                                .row
                                    .col-4 Nombre
                                    .col-4 Telefono
                                    .col-4 E-mail
                                for dato in datos
                                    .row.border.m-1
                                        .col-4 #{dato.nombre.charAt(0).toUpperCase() + dato.nombre.slice(1)}
                                        .col-4 #{dato.telefono}
                                        .col-4 #{dato.email}