extends layouts/head
block contenido
    main.container.d-flex.justify-content-center.align-items-center.p-2.principal.h-100
        .row.d-flex.align-items-center.justify-content-center.h-100.w-100
            .col-8.d-flex.flex-column.justify-content-center.align-items-center
                h2 Se ha enviado un email al correo que ha indicado