extends layouts/head
block contenido
    main.container.d-flex.justify-content-center.p-2(style="min-height: 81.7vh")
        .row 
            .col.border(style="min-height:100%; width: 100%")
                .row.d-flex.align-items-center.justify-content-center(style="min-height:50%; width: 100%")
                    .col-8.d-flex.flex-column.justify-content-center.align-items-center

                .row.d-flex.align-items-center.justify-content-center(style="min-height:50%; width: 100%")
                    .col-8.d-flex.flex-column.justify-content-center.align-items-center
        .row 
            .col.border(style="min-height:10%; width: 100%")
                .row.d-flex.align-items-center.justify-content-center(style="min-height:50%; width: 100%")
                    .col-8.d-flex.flex-column.justify-content-center.align-items-center

                .row.d-flex.align-items-center.justify-content-center(style="min-height:50%; width: 100%")
                    .col-8.d-flex.flex-column.justify-content-center.align-items-center
