extends layouts/head

block contenido

    main.container.py-4(style="min-height: 80vh")
        h1 Sobre nosotros
        .row 
            .col-md-6.justify-content-center.aling-items-center
                img.img-fluid.rounded(src="/Imagen/nosotros.webp", alt="Imagen de nosotros")
            .col-md-6.justify-content-center.aling-items-center
                p Lorem ipsum odor amet, consectetuer adipiscing elit. Laoreet ac nibh sit facilisi convallis. Morbi aptent urna mi faucibus nisi augue mauris varius. Duis semper sodales sem fusce mi aliquet nunc. Mattis nulla imperdiet tincidunt enim semper aptent blandit. Urna torquent aliquam elementum efficitur sollicitudin.
        .row
            .col-md-12
                