extends layouts/head

block contenido

    main.container
        h1 Bienvenida Body
        .row 
            .col-md-12.justify-content-center.aling-items-center
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quod.