extends layouts/head

block contenido

    main.container.py-4(style="min-height: 81.7vh")
        .row.border.p-5
            h2.p-1.text-center.py-2 Invitaciones a grupos
            .col.border
                for dato in datos
                    .row.d-flex.ancho.align-items-center.py-2
                        .col-6
                            p.text-center #{dato.nombre}
                        .col-2.d-flex.gap-2
                            a.btn.btn-success(href="/aceptar/" + dato.grupoid) Aceptar
                            a.btn.btn-danger(href="/rechazar/" + dato.grupoid) Rechazar
