extends layouts/head

block contenido
    main.container.p-2(style="min-height: 81.7vh")
        .row
            .col-12.d-flex.justify-content-end.m-2
                a.btn.btn-success(href="/crearGrupo") Crear grupo
        .row.p-2
            .col-12
                .row.d-flex.justify-content-center
                    .col.d-flex.justify-content-center.gap-2
                        button.btn.btn-danger#primera(onclick="primera()" disabled)
                            i.bi.bi-skip-start-fill
                        button.btn.btn-danger#anterior(onclick="anterior()" disabled)
                            i.bi.bi-skip-backward-fill
                        button.btn.btn-success#siguiente(onclick="siguiente()" disabled=ultima)
                            i.bi.bi-skip-forward-fill
                        button.btn.btn-success#ultima(onclick="ultima()" disabled=ultima)
                            i.bi.bi-skip-end-fill
        .row.d-flex.justify-content-center.border(style="min-height:100%; width: 100%")
            .col-10.col-md-.d-flex.flex-column#objetivo
                if grupos.length>0 
                    for grupo in grupos
                        .row 
                            .col-12.border.my-1
                                .row.p-2.fila
                                    .col-4
                                        h3 #{grupo.nombre}
                                    .col-8.d-flex.justify-content-evenly
                                        a.btn.btn-primary.mx-2(href="/accesoGrupo/"+ grupo.grupoid) Acceder
                                        a.btn.btn-primary.mx-2(href="/paginaFactura/" + grupo.grupoid) Añadir factura