extends layouts/head
block contenido
    main.container.d-flex.justify-content-center.align-items-center.p-2.principal.h-100
        .row.d-flex.align-items-center.justify-content-center.h-100.w-100
            .col-8.d-flex.flex-column.justify-content-center.align-items-center
                form.w-100.row.g-3.border.p-1.mt-4(action="/recuperacion" method="post")
                    .col-12.w-100
                        .row.my-1.d-flex.gap-1
                            .col-12 
                                label.visually-hidden(for='email')
                                input#email.form-control(type='text' name="email" placeholder="Email de recuperación" value=usuario required)
                        .row.my-1.d-flex.gap-1
                            .col-12.text-center
                                button.btn.btn-primary Recuperar cuenta