extends layouts/head

block contenido

    main.container.d-flex.justify-content-center.p-2(style="min-height: 81.7vh")
        .row.d-flex.align-items-center.justify-content-center(style="min-height:100%; width: 100%")
            .col-6.d-flex.justify-content-center.align-items-center
                form.row.g-3.border.p-1(action="/registro" method="post")
                    .row.my-1.d-flex.gap-1
                        .col-md-6.col-12
                            label.visually-hidden(for='staticEmail2') Usuario
                            input#staticEmail2.form-control(type='text' name="usuario" value='' placeholder="Usuario")
                        .col-md.col-12
                            label.visually-hidden(for='inputPassword2') Password
                            input#inputPassword2.form-control(type='password' name="password" placeholder='Password')
                    .row.my-1.d-flex.gap-1
                        .col-md-6.col-12
                            label.visually-hidden(for='staticEmail2') Email
                            input#staticEmail2.form-control(type='text' value='' name="email" placeholder="E-mail")
                        .col-md.col-12
                            label.visually-hidden(for='inputPassword2') Nombre
                            input#inputPassword2.form-control(type='text' name="nombre" placeholder='Nombre')
                    .row.my-1.d-flex.gap-1.justify-content-center
                        .col-md-6.col-12 
                            label.visually-hidden(for='inputPassword2') Telefono
                            input#inputPassword2.form-control(type='number' name="telefono" placeholder='Nº de Telefono' max=999999999 min=111111111)           
                    .col-12.d-flex.justify-content-center.align-items-center.mt-2
                            button.btn.btn-primary(type='submit') Registrarse