header{
    background: linear-gradient(to left, #71E3D3, #71CEE3);
}

footer{
    background: linear-gradient(to left, #71E3D3, #71CEE3);
}

.fila:hover{
    background-color: aquamarine;
}

#icoUser{
    font-size: 50px;
}

.alto{
    height: 100%;
}

.ancho{
    width: 100%;
}

#pActual{
    margin: 2px;
}

#icoOpUser{
    font-size:30px;
}

#usuarioEli:hover {
    cursor:default;
}

.principal{
    min-height: 81.7vh
}

.crearGrupo{
    min-height: 70.6vh
}

.textoEsp{
    margin: 0;
}

@media (max-width: 767.98px) {
    .principal {
        min-height: 58.8vh; /* O el valor que desees */
    }
    .crearGrupo{
        min-width: auto;
    }
}

@media (max-width: 576px){
    .textoEsp{
        font-size: small;
    }
}