header{
    background: linear-gradient(to left, #71E3D3, #71CEE3);
}

footer{
    background: linear-gradient(to left, #71E3D3, #71CEE3);
}

.fila:hover{
    background-color: aquamarine;
}

#icoUser{
    font-size: 50px;
}

.alto{
    height: 100%;
}

.ancho{
    width: 100%;
}

#pActual{
    margin: 2px;
}